<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true"
      throwExceptions="false" 
      internalLogLevel="Warn" 
      internalLogFile="MLIDS.Detector.log">
  <variable name="DefaultLayout" value="${longdate} | ${level:uppercase=true:padding=5} | ${callsite} | ${message} | ${exception:format=type,tostring}"/>
  <variable name="AppName" value="MLIDS.Detector"/>
  <targets>
    <target name="log" xsi:type="File"
            fileName="MLIDS.Detector.log"
		    archiveFileName="log_archives/MLIDS.Detector_{#}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="30"
            archiveAboveSize="10000000" />
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="log"/>
  </rules>
</nlog>